body{
    margin: 20px;
    align-items: center;
}

#container {
    background: rgb(188, 225, 255);
    padding: 30px;
    border-radius: 8px;
    width: 350px;
}
#display{
    border: 2px solid black;
   
    margin: 40px;
    padding: 30px;
}
label {
    display: block;
   font-size: 1.4rem;
   background-color: rgb(126, 203, 137);
   width: 130px;
}